*{
    margin: auto;
    width: 85%;
}

#div1 {
    border: 1px solid rgb(245, 1, 245);
/* *{
    margin: auto;
    width: 85%;
} */

#div1{
    border: 1px solid red ;

    /* Espaço interno */
    padding: 10px;

    /* espaço externo */
    /* margin-bottom: 25px; */ /* especifica o lado que você quer dar espaçamento */


    /* top, right, bottom, left (ordem) */
    /* especifica todos os lados que você quer dar espaçamento */
    /* margin: 50px 40px 90px 25px; */


    /* formato cruz 
    top, bottom   right, left */
    /* margin: 90px 10%; */


    /* top, (right, bottom) left */
    /* margin: 20px 5% 1.5rem */

    /* aplico o mesmo px para os 4 lados */
    margin: 125px;
}

#div2 {
    border: 1px solid rgb(4, 0, 250);

    /* aplico o mesmo pixel para os 4 lados */
    padding: 50px;
    margin: 125px;
#div2{
    border: 1px solid rgb(50, 205, 146);
    padding: 50px;
    /* aplico o mesmo px para os 4 lados */
}

img {
    /* largura */
    width: 350px;

    /* altura */
    height: 350px;

    /* espaçamento interno entre a imagem */
    padding: 0%;
}