body{
    height: 600px;
    border: 1px solid black;
}

.container{
    height: 600px;
    border: 1px solid firebrick;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /* grid-template-columns: repeat (4, ifr); equivale a (25% 25% 25% 25%); */
    grid-template-columns: repeat(4, 15%);

    /* grid-template-rows: repeat(2, 50px); equivale a 50px 50px; */
    grid-template-rows: auto;

    /*espaço entre colunas */
    column-gap: 10px;

    /*espaço entre linhas*/
    row-gap: 15px;

    /* justificar na horizontal*/
    justify-items: center;

    /* justificar na vertical */
    align-items: center;

    /* mover o container na horizontal */
    justify-content: space-around;

    /* mover container na vertical */
    align-content: space-evenly;
}

.itens{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(16, 0, 236);
    font-size: 250%;
}

#item1{
    /*  referente as linhas verticais */
    grid-column: 1 / 3;

    /* referente as linhas horizontais */
    grid-row: 1 / 3;
}

    /* código para a aula 09 sobre GRID */

#container2{
    display: grid;

    /* grid de 3x4 */

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: repeat(4, 70px);
} 

#Item01{
    border: 1px solid black;
    grid-column: 1 / 4;
    width: 70%;
    justify-self: center;
}

#Item02{
    border: 1px solid rgb(221, 0, 0);
}

#Item03{
    border: 1px solid rgb(55, 0, 255);
    grid-column: 3 / 4;
}

#Item04{
    border: 1px solid rgb(0, 195, 255);
    grid-column: 2 / 3;
}

#Item06{
    border: 1px solid rgb(255, 0, 0);
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    height: 70%;
    align-self: center;
}

#Item05{
    border: 1px solid rgb(0, 26, 255);
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    height: 70%;
    width: 70%;

    /* eixo horizontal */
    align-self: center;

    /* eixo vertical */
    align-self: center;

    /* justify-self / align-self */
    place-self: center;
}