#P1 {
    
    /* largura da borda */
    border-width: 2px;
    
    /* cor da borda */
    border-color: rgb(0, 0, 0);
    
    /* estilo da borda */
    border-style: solid;
    
    padding: 7px;
}

img{
    /* largura */
    width: 300px;

    /* altura */
    height: 300px;
}

figcaption, p{
    color: white;
}

body{
    /* background-color: rgb(48, 88, 75); */
    background-image: url("./claro.avif");
    background-size: 100%;

    /* fixed / Scroll */
    background-attachment: fixed;
}